@use '../../styles/mixins';
@use '../../styles/functions';
@use '../../styles/helpers';
@import '../../styles/typography';

.root {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.overlayDropdown {
  width: 100%;

  position: absolute;
  top: 100%;

  left: 0;
  z-index: 100;

  background: var(--color-grey-900);
}

.dropdown {
  display: flex;
  flex-direction: column;
}

.dropDownMenu {
  padding: 0;
  margin: 0;

  list-style: none;
  
  background: var(--color-grey-900);
}

.dropDownItem {
  @include body-2;
  width: 100%;
  height: functions.calc-rem(32);

  text-align: center;
  display: flex;
  align-items: center;
  
  cursor: pointer;
}


.selectedValueContainer {
  display: flex;
  align-items: center;
}

.selectedValue {
  @extend %button-reset;
  @include body-2;
  
  
  width: functions.calc-rem(37);
  height: functions.calc-rem(32);

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--white);

  text-align: center;
}

.arrow {
  color: var(--white);
  svg {
    fill: var(--white);
    color: var(--white);
  }
}