@use '../../styles/functions';

.widgets {
  width: functions.calc-rem(240);

  margin-right: functions.calc-rem(15);

  display: flex;
  flex-direction: column;
}

.widget {
  padding-bottom: functions.calc-rem(19);
  margin: 0 0 functions.calc-rem(10) 0;
}

.info {
  margin-bottom: functions.calc-rem(17);
}

.mainContent {
  width: functions.calc-rem(750);
  height: functions.calc-rem(556);

  background-color: var(--color-grey-900);

  border-radius: functions.calc-rem(7);
}
