@use 'src/styles/functions';
@use 'src/styles/media';

.widget {
  margin: 0;

  @include media.mobile-only {
    width: 100%;

    margin: 0 0 functions.calc-rem(12) 0;
  }

  @include media.tablet-portrait {
    width: 49%;

    margin: 0 0 functions.calc-rem(12) 0;
  }

  @include media.tablet-landscape {
    width: functions.calc-rem(240);

    margin: 0 0 functions.calc-rem(24) 0;
  }

  @include media.desktop {
    width: functions.calc-rem(240);

    margin: 0 functions.calc-rem(12) functions.calc-rem(12) 0;
  }

  &:last-child {
    @include media.desktop {
      margin-bottom: 0;
    }
  }
}

.mainContent {
  width: 100%;

  height: functions.calc-rem(556);

  position: relative;

  background-color: var(--color-grey-900);

  border-radius: functions.calc-rem(7);

  @include media.mobile-only {
    height: functions.calc-rem(345);
  }

  @include media.tablet-portrait {
    height: functions.calc-rem(345);
  }

  @include media.tablet-landscape {
    height: functions.calc-rem(556);
  }

  @include media.desktop {
    width: functions.calc-rem(750);
  }
}

.detailsContainer {
  width: 100%;
  height: calc(100% - #{functions.calc-rem(40)});
  @include media.desktop {
    width: functions.calc-rem(750);
  }
}

.tabWrapper {
  height: functions.calc-rem(40);

  padding-left: functions.calc-rem(30);
  padding-top: functions.calc-rem(10);

  border-bottom: functions.calc-rem(1) solid var(--color-grey-700);
}

.metricsContainer {
  width: 100%;
  height: 100%;

  padding: functions.calc-rem(10) functions.calc-rem(12) functions.calc-rem(10)
    functions.calc-rem(12);
  @include media.desktop {
    padding: functions.calc-rem(10) functions.calc-rem(30)
      functions.calc-rem(10) functions.calc-rem(20);
  }
}
