@use 'src/styles/functions';

.loadingContainer {
  width: 100%;
  height: functions.calc-rem(556);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 1;
  visibility: visible;

  transition: all linear 300ms;
}

.hide {
  opacity: 0;
  visibility: hidden;
}