@use '../../styles/functions';

.widgets {
  width: functions.calc-rem(240);

  margin: 0 functions.calc-rem(15) 0 0;

  display: flex;
  flex-direction: column;
}

.widget {
  margin: 0 0 functions.calc-rem(12.5) 0;
}

.mainContent {
  width: functions.calc-rem(750);

  height: functions.calc-rem(556);

  background-color: var(--color-grey-900);

  border-radius: functions.calc-rem(7);
}
