@use 'src/styles/functions';

.mainContent {
  width: functions.calc-rem(750);

  position: relative;
}

.tabWrapper {
  height: functions.calc-rem(40);

  padding-left: functions.calc-rem(30);
  padding-top: functions.calc-rem(10);

  border-bottom: functions.calc-rem(1) solid var(--color-grey-700);
}

.chart {
  padding: functions.calc-rem(10) functions.calc-rem(30) functions.calc-rem(10)
    functions.calc-rem(20);
}

.loading {
  width: 100%;
  height: functions.calc-rem(556);

  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;

  transition: all linear 300ms;
}

.showLoading {
  opacity: 1;
  visibility: visible;
}
