@use '../../styles/functions';
@import '../../styles/typography';
@import '../../styles/helpers';

.tabsWrapper {
  width: fit-content;
  height: 40px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.tab {
  @extend %button-reset;
  @include title-1;
  height: 100%;

  padding-bottom: 8px;

  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid var(--color-yellow-600);
  }

  &:nth-child(n + 1) {
    margin-left: 12px;
  }
}

.active {
  border-bottom: 2px solid var(--color-blue-500);
}
