@use '../../styles/functions';
@import '../../styles/typography';
@import '../../styles/helpers';

.tabsWrapper {
  --line-height: functions.calc-rem(4);
  --line-color: transparent;
  --padding-bottom: functions.calc-rem(10);

  width: fit-content;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}

.tab {
  @include title-1;
  @extend %button-reset;

  padding-bottom: var(--padding-bottom);
  margin: 0 functions.calc-rem(24) 0 0;

  position: relative;

  &::after {
    width: 100%;
    height: var(--line-height);

    position: absolute;
    bottom: 0;
    left: 0;

    background-color: var(--line-color);
    content: '';

    border-radius: functions.calc-rem(4);

    transition: background-color 350ms;
  }

  &:hover {
    --line-color: var(--color-yellow-600);
  }

  &:last-child {
    margin: 0;
  }
}

.medium,
.small {
  --padding-bottom: functions.calc-rem(6);
  .tab {
    @include title-3;
  }
}

.small {
  --line-height: functions.calc-rem(2);
}

.active {
  --line-color: var(--color-blue-500);
}
