@use 'src/styles/functions';
@use 'src/styles/typography';

.tooltip {
  padding: functions.calc-rem(12) functions.calc-rem(16);

  position: relative;

  background-color: var(--color-grey-700);

  border-radius: functions.calc-rem(8);

  &.arrowLeft::after {
    width: 0;
    height: 0;

    position: absolute;
    top: 50%;
    left: functions.calc-rem(-15);

    border-width: functions.calc-rem(8);
    border-style: solid;
    border-color: transparent var(--color-grey-700) transparent transparent;

    transform: translateY(-50%);
    content: '';
  }

  &.arrowRight::after {
    width: 0;
    height: 0;

    position: absolute;
    top: 50%;
    right: functions.calc-rem(-15);

    border-width: functions.calc-rem(8);
    border-style: solid;
    border-color: transparent transparent transparent var(--color-grey-700);

    transform: translateY(-50%);
    content: '';
  }
}

.element {
  display: flex;
  align-items: center;
}

.dot {
  margin: 0 functions.calc-rem(6) 0 0;
}

.label {
  @include typography.title-4;
  margin: 0 0 functions.calc-rem(10);
}

.name {
  @include typography.caption-1;
  margin: 0 functions.calc-rem(4) 0 0;

  display: flex;
  align-items: center;

  color: var(--color-grey-100);
}

.value {
  @include typography.title-4;
  margin: 0 functions.calc-rem(4) 0 0;

  color: var(--white);
}

.nearIcon {
  width: functions.calc-rem(16);
  height: functions.calc-rem(16);

  margin-left: functions.calc-rem(5);
}
