@use '../../styles/functions';
@import '../../styles/typography';
@import '../../styles/helpers';

.widgetInfo {
  width: functions.calc-rem(236);

  padding: 0 functions.calc-rem(20) functions.calc-rem(14);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  @include title-4;
  color: var(--color-grey-300);
}

.percentages {
  @include title-4;
  display: flex;
  align-items: center;
  
  color: var(--color-success-tint);
}

.negativeGrowth {
  color: var(--color-error-pure);
  
  .icon {
    transform: rotate(180deg);
  }
}

.number {
  @include heading-2;
}
