@use 'variables';
@use 'functions';
@use 'media';

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-weight: $weight;
    font-family: $font-family;
    font-style: $style;
    font-display: block;
    src: url('#{$file-path}.eot');
    src: url('#{$file-path}.eot?#iefix') format('embedded-opentype'),
      url('#{$file-path}.woff') format('woff'),
      url('#{$file-path}.ttf') format('truetype');
  }
}

@mixin container {
  width: 100%;

  padding: 0 functions.calc-rem(24);
  margin: 0 auto;

  @include media.desktop {
    width: functions.calc-rem(variables.$breakpoint-lg);
  }
}

@mixin narrow-container {
  width: 100%;

  padding: 0 functions.calc-rem(24);
  margin: 0 auto;

  @include media.desktop {
    width: functions.calc-rem(variables.$breakpoint-lg - 224);
  }
}

@mixin truncate {
  overflow: hidden;

  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin truncate-multiline($lineCount) {
  overflow: hidden;
  /* stylelint-disable-next-line value-no-vendor-prefix */
  display: -webkit-box;
  /* stylelint-disable-next-line property-no-vendor-prefix */
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $lineCount;
}
