@use 'variables';
@import 'fonts';
@import 'typography';

html {
  color: var(--white);
  background: var(--color-brand);

  font-size: #{variables.$base-font-size}px;
}

body {
  font-family: variables.$font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#themed {
  color: var(--theme-text-color);
}

p {
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;

  color: inherit;

  font-size: inherit;
  font-family: inherit;
  scrollbar-color: var(--color-grey-700) transparent;
  scrollbar-width: thin;
}

*::-webkit-scrollbar {
  width: 4px; /* width of the entire scrollbar */
}

*::-webkit-scrollbar-track {
  background: transparent; /* color of the tracking area */
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-grey-700); /* color of the scroll thumb */

  border: 3px solid transparent; /* creates padding around scroll thumb */
  border-radius: 7px; /* roundness of the scroll thumb */
}
