@use 'variables';
@use 'functions';

@mixin heading-1 {
  font-family: variables.$font;
  font-size: functions.calc-rem(32);
  font-style: normal;
  font-weight: 500;
  line-height: functions.calc-rem(48);
}

@mixin heading-2 {
  font-family: variables.$font;
  font-size: functions.calc-rem(24);
  font-style: normal;
  font-weight: 600;
  line-height: functions.calc-rem(36);
}

@mixin body-1 {
  font-family: variables.$font;
  font-size: functions.calc-rem(16);
  font-style: normal;
  font-weight: 400;
  line-height: functions.calc-rem(28);
}

@mixin body-2 {
  font-family: variables.$font;
  font-size: functions.calc-rem(14);
  font-style: normal;
  font-weight: normal;
  line-height: functions.calc-rem(24);
}

@mixin caption-1 {
  font-family: variables.$font;
  font-size: functions.calc-rem(12);
  font-style: normal;
  font-weight: 400;
  line-height: functions.calc-rem(20);
}

@mixin caption-2 {
  font-family: variables.$font;
  font-size: functions.calc-rem(11);
  font-style: normal;
  font-weight: 400;
  line-height: functions.calc-rem(16);
}

@mixin title-1 {
  font-family: variables.$font;
  font-size: functions.calc-rem(18);
  font-style: normal;
  font-weight: 500;
  line-height: functions.calc-rem(28);
}

@mixin title-2 {
  font-family: variables.$font;
  font-size: functions.calc-rem(16);
  font-style: normal;
  font-weight: 500;
  line-height: functions.calc-rem(24);
}

@mixin title-3 {
  font-family: variables.$font;
  font-size: functions.calc-rem(14);
  font-style: normal;
  font-weight: 500;
  line-height: functions.calc-rem(24);
}

@mixin title-4 {
  font-family: variables.$font;
  font-size: functions.calc-rem(12);
  font-style: normal;
  font-weight: 500;
  line-height: functions.calc-rem(16);
}

@mixin title-5 {
  font-family: variables.$font;
  font-size: functions.calc-rem(11);
  font-style: normal;
  font-weight: 500;
  line-height: functions.calc-rem(16);
}

@mixin button {
  font-family: variables.$font;
  font-size: functions.calc-rem(14);
  font-style: normal;
  font-weight: 500;
  line-height: functions.calc-rem(24);
}

%heading-1 {
  @include heading-1;
}

%heading-2 {
  @include heading-2;
}

%body-1 {
  @include body-1;
}

%body-2 {
  @include body-2;
}

%caption-1 {
  @include caption-1;
}

%caption-2 {
  @include caption-2;
}

%title-1 {
  @include title-1;
}

%title-2 {
  @include title-2;
}

%title-3 {
  @include title-3;
}

%title-4 {
  @include title-4;
}

%title-5 {
  @include title-5;
}

%button {
  @include button;
}
