@use '../../styles/functions';
@import '../../styles/typography';
@import '../../styles/helpers';

.navigationInfo {
  --line-color: transparent;
  --background-color: transparent;
  width: functions.calc-rem(169);
  height: functions.calc-rem(48);

  padding: 0 functions.calc-rem(9);

  position: relative;

  display: flex;
  flex-direction: column;

  background-color: var(--background-color);

  border-radius: functions.calc-rem(4);
  &::after {
    width: functions.calc-rem(4);
    height: 100%;

    position: absolute;
    top: 0;

    display: flex;

    background-color: var(--color-line);

    content: '';
  }
}

.end {
  &::after {
    right: 0;
    border-top-right-radius: functions.calc-rem(4);
    border-bottom-right-radius: functions.calc-rem(4);
  }
}

.start {
  &::after {
    left: 0;
    border-top-left-radius: functions.calc-rem(4);
    border-bottom-left-radius: functions.calc-rem(4);
  }
}

.grey {
  --color-line: var(--color-grey-600);
}

.blue {
  --color-line: var(--color-blue-500);
}

.yellow {
  --color-line: var(--color-yellow-600);
}

.none {
  --color-line: transparent;
  --background-color: transparent;
}

.right {
  text-align: right;
}

.left {
  text-align: left;
}

.title {
  @include title-3();
  color: var(--white);
}

.description {
  @include caption-1();
  margin: functions.calc-rem(-3) 0 0 0;

  color: var(--color-grey-300);
}
