@use '../../styles/functions';

.tableLayout {
  width: functions.calc-rem(1218);

  padding: functions.calc-rem(50) 0;
  margin: 0 auto;

  display: block;
}

.section {
  padding-top: functions.calc-rem(50);
}

.container {
  margin-top: functions.calc-rem(25);

  display: flex;
}
