@use '../../styles/functions';
@use '../../styles/mixins';
@use '../../styles/media';

.layout {
  padding: 0 functions.calc-rem(8);

  @include media.desktop {
    @include mixins.container;
    min-height: 100vh;
  }
}

.container {
  display: flex;

  padding: functions.calc-rem(90) 0 0;

  @include media.desktop {
    padding: functions.calc-rem(48) 0 0;
  }
}

.page {
  width: functions.calc-rem(1005);
}

.blur {
  opacity: 0.3;
  z-index: 2;

  min-width: functions.calc-rem(320);
  min-height: 100%;
}
.blur div {
  pointer-events: none;
}

.fullWidth {
  width: 100%;

  margin: 0 auto;
}
