@use 'src/styles/functions';
@use 'src/styles/mixins';
@use 'src/styles/media';

.layout {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.container {
  @include mixins.container;

  min-height: calc(100vh - 124px);
  max-width: functions.calc-rem(1216);

  padding: 0;
  margin: 0 auto;

  display: flex;
  flex-direction: column;

  @include media.desktop {
    min-height: calc(100vh - 156px);
  }
}

.wrapper {
  display: flex;
}

.page {
  width: 100%;

  padding: 0 functions.calc-rem(12) functions.calc-rem(12);

  margin: 0 auto;

  @include media.desktop {
    padding: 0 0 functions.calc-rem(12);
  }
}
