@use 'src/styles/functions';
@use 'src/styles/typography';
@use 'src/styles/media';

.mainPage {
  width: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  text-align: center;

  @include media.mobile-only {
    width: functions.calc-rem(248);

    padding: functions.calc-rem(112) 0 0 0;
  }

  @include media.tablet-portrait {
    width: functions.calc-rem(452);

    padding: functions.calc-rem(244) 0 0 0;
  }

  @include media.desktop {
    width: functions.calc-rem(700);

    padding: functions.calc-rem(132) 0 0 0;
  }
}

.title {
  @include typography.heading-2;

  padding: 0;
  margin: 0 0 functions.calc-rem(28);

  @include media.tablet-portrait {
    @include typography.heading-1;
  }
}

.subTitle {
  @include typography.body-1;
  margin: 0 0 functions.calc-rem(118);

  display: flex;
  justify-content: center;
  align-items: center;

  @include media.mobile-only {
    margin: 0 0 functions.calc-rem(124);
  }
}

.info {
  @include typography.title-4;
  margin: 0 auto functions.calc-rem(18);
}

.button {
  margin: 0 auto functions.calc-rem(12);
}

.image {
  width: functions.calc-rem(17);

  margin: 0 functions.calc-rem(8);
}
