@use '../../styles/functions';
@use '../../styles/typography';
@use '../../styles/media';

.mainPage {
  width: 100%;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  text-align: center;

  @include media.desktop {
    width: functions.calc-rem(700);

    padding: functions.calc-rem(104) 0 0 0;
  }
}

.title {
  @include typography.title-1;

  padding: 0;
  margin: 0 0 functions.calc-rem(22);

  @include media.desktop {
    @include typography.heading-1;
    margin-bottom: functions.calc-rem(28);
  }
}

.subTitle {
  @include typography.body-2;
  margin: 0 0 functions.calc-rem(56);

  @include media.desktop {
    @include typography.body-1;
  }
}

.tabs {
  margin: 0 auto functions.calc-rem(24);

  @include media.desktop {
    margin-bottom: functions.calc-rem(32);
  }
}

.search {
  margin: 0 0 functions.calc-rem(34);

  display: none;

  @include media.desktop {
    margin-bottom: functions.calc-rem(120);

    display: flex;
  }
}

.info {
  @include typography.title-4;
  margin: 0 auto functions.calc-rem(16);
}

.button {
  margin: 0 auto functions.calc-rem(12);
}

.switcher {
  margin: 0 auto functions.calc-rem(130);
}

.footer {
  display: flex;
  justify-content: space-between;
}
