@use '../../styles/functions';

.header {
  height: functions.calc-rem(88);
  max-width: functions.calc-rem(1216);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: functions.calc-rem(12);
}

.main {
  display: flex;
  justify-content: flex-end;
}

.tabs {
  margin-right: functions.calc-rem(32);
}

.navigationInfo {
  margin: 0 0 0 functions.calc-rem(60);
}

.search {
  width: functions.calc-rem(587);
}
