@use '../../styles/functions';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.center {
  display: flex;
  align-items: center;
}

.tabs {
  margin-right: functions.calc-rem(32);
}
