@use '../../styles/functions';
@use '../../styles/media';

.widgets {
  width: 100%;

  margin: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  @include media.desktop {
    width: functions.calc-rem(240);

    margin: 0 functions.calc-rem(15) 0 0;

    flex-direction: column;
    flex-wrap: nowrap;
  }
}

.widget {
  margin: 0 functions.calc-rem(12) functions.calc-rem(24) 0;

  @include media.desktop {
    margin: 0 functions.calc-rem(12) functions.calc-rem(12) 0;
  }
  
  &:last-child {
    @include media.desktop {
      margin-bottom: 0;
    }
  }
}

.mainContent {
  width: 100%;

  height: functions.calc-rem(556);

  position: relative;

  background-color: var(--color-grey-900);

  border-radius: functions.calc-rem(7);

  @include media.desktop {
    width: functions.calc-rem(750);
  }
}
