@use '../../styles/typography';
@import '../../styles/typography';

.title {
  @include title-1;
}

.subpageWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.subpageContent {
  display: flex;
}

.widgets {
  display: flex;
  flex-direction: column;
  width: 240px;
  margin-right: 15px;
}

.chart {
  background-color: #222121;
  border-radius: 7px;
  width: 750px;
  height: 556px;
  padding: 30px 30px 30px 20px;
}
