.path {
  stroke-dasharray: 200 600 200 600;
  stroke-dashoffset: 0;

  animation: dash 3s linear infinite;
}

@keyframes dash {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: 800;
  }
}
