@use '../../styles/functions';

.sidebar {
  width: functions.calc-rem(187);

  margin: 0 functions.calc-rem(24) 0 0;

  display: flex;
  flex-direction: column;
}

.info {
  margin: 0 0 functions.calc-rem(20);
}

.list {
  margin: 0 0 functions.calc-rem(24);
}
