@use '../../styles/functions';
@use '../../styles/media';

.sidebar {
  width: functions.calc-rem(269);
  height: 100%;

  padding: functions.calc-rem(24) functions.calc-rem(20);

  border-top-right-radius: functions.calc-rem(8);
  border-bottom-right-radius: functions.calc-rem(8);

  display: flex;

  flex-direction: column;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 3;
  opacity: 1;

  background-color: var(--color-grey-800);

  transition: transform 0.3s ease-in-out;
  transform: translate(functions.calc-rem(-269), 0);

  @include media.desktop {
    position: initial;
    background-color: initial;
    transform: initial;
    padding-left: 0;
  }
}

.show {
  transform: translate(0, 0);
}

.navInfo {
  margin-top: functions.calc-rem(108);

  @include media.desktop {
    display: none;
  }
}

.info {
  margin: 0 0 functions.calc-rem(20);
}

.list {
  margin: 0 0 functions.calc-rem(24);
}
