@use 'src/styles/functions';
@use 'src/styles/media';
@import 'src/styles/typography';

.footer {
  width: 100%;
  height: functions.calc-rem(60);
  max-width: 100%;

  padding: 0 functions.calc-rem(12);
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: center;

  background: var(--color-brand);

  @include media.desktop {
    max-width: functions.calc-rem(1216);

    padding: 0 0 0 functions.calc-rem(12);

    position: initial;
  }
}

.links,
.aboutUs {
  @include caption-1;

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
}

.aboutUs {
  min-width: functions.calc-rem(32);
}

.links a {
  padding-right: functions.calc-rem(18);

  text-decoration: none;
}

.link {
  display: flex;

  align-items: center;
}

.linkText {
  margin-left: functions.calc-rem(4);
}
