@use '../../styles/functions';
@import '../../styles/typography';
@import '../../styles/helpers';

.root {
  width: 100%;
  height: 48px;
  min-width: 563px;

  position: relative;

  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;

  background: transparent;

  &:hover .inputIcon {
    color: var(--color-grey-400);
  }
}

.forceActive {
  input {
    border: 1px solid var(--color-yellow-600);
    outline: 1px solid var(--color-yellow-600);
  }

  label {
    width: 2px;

    background: var(--color-yellow-600);
  }
}

.input {
  @include body-2;
  width: 100%;
  height: 100%;

  padding: functions.calc-rem(12) 33% functions.calc-rem(12)
    functions.calc-rem(44);

  position: relative;

  background: transparent;

  border: 1px solid var(--color-grey-700);
  border-radius: functions.calc-rem(8);
  outline: 1px solid transparent;

  transition: outline-color ease-in-out 300ms, border ease-in-out 300ms;

  &:hover,
  &:active {
    border: 1px solid var(--color-yellow-600);
    outline: 1px solid var(--color-yellow-600);

    + label {
      width: 2px;

      background: var(--color-yellow-600);
    }
  }

  &:focus {
    border: 1px solid var(--color-blue-500);
    outline: 1px solid var(--color-blue-500);

    + label {
      width: 2px;

      background: var(--color-blue-500);
    }
  }
}

.inputLabel {
  width: 1px;
  height: 100%;

  position: absolute;
  top: 0;
  right: 33%;

  background: var(--color-grey-700);

  transition: background ease-in-out 300ms, width ease-in-out 300ms;
}

.inputIcon {
  width: 24px;
  height: 24px;

  position: absolute;
  top: functions.calc-rem(12);
  left: functions.calc-rem(12);
  z-index: 0;

  color: var(--color-grey-600);

  transition: color ease-in-out 300ms;
}

.inputControl {
  width: 33%;
  height: 100%;

  padding: functions.calc-rem(8) functions.calc-rem(12);

  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.inputControlItem {
  @extend %button-reset;
  @include title-4;
  width: 75px;
  height: 32px;

  padding: functions.calc-rem(6) functions.calc-rem(12);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  color: var(--color-grey-300);
  background: transparent;

  border-radius: 4px;

  text-align: center;

  cursor: pointer;

  &:nth-child(2) {
    margin-left: 8px;
  }
}

.active {
  color: var(--white);
  background: var(--color-grey-700);
}
