@use 'src/styles/functions';
@use 'src/styles/media';
@import 'src/styles/typography';
@import 'src/styles/helpers';

.root {
  width: 100%;

  position: relative;

  display: flex;

  flex-direction: column-reverse;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;

  background: transparent;

  @include media.desktop {
    flex-direction: initial;
  }
}

.disabled {
  display: block;
}

.forceActive {
  input {
    border: functions.calc-rem(1) solid var(--color-yellow-600);
    box-shadow: 0 0 0 functions.calc-rem(1) var(--color-yellow-600);
  }

  label {
    width: functions.calc-rem(2);

    background: var(--color-yellow-600);
  }
}

.input {
  @include body-2;
  width: 100%;
  height: 100%;

  padding: functions.calc-rem(12) functions.calc-rem(194) functions.calc-rem(12)
    functions.calc-rem(44);

  position: relative;

  background: transparent;

  border: functions.calc-rem(1) solid var(--color-grey-700);
  border-radius: functions.calc-rem(8);
  outline: none;
  box-shadow: none;

  transition: box-shadow ease-in-out 300ms, border ease-in-out 300ms;

  &:hover:not(.disabled),
  &:active:not(.disabled) {
    border: functions.calc-rem(1) solid var(--color-yellow-600);
    box-shadow: 0 0 0 functions.calc-rem(1) var(--color-yellow-600);

    + label {
      width: functions.calc-rem(2);

      background: var(--color-yellow-600);
    }

    ~ svg {
      color: var(--color-grey-400);
    }
  }

  &:focus {
    border: functions.calc-rem(1) solid var(--color-blue-500);
    box-shadow: 0 0 0 functions.calc-rem(1) var(--color-blue-500);

    + label {
      width: functions.calc-rem(2);

      background: var(--color-blue-500);
    }

    ~ svg {
      color: var(--color-grey-400);
    }
  }
}

.inputLabel {
  display: none;

  @include media.desktop {
    width: functions.calc-rem(1);
    height: 100%;

    position: absolute;
    top: 0;
    right: functions.calc-rem(182);

    display: block;

    background: var(--color-grey-700);

    transition: background ease-in-out 300ms, width ease-in-out 300ms;
  }
}

.inputIcon {
  width: functions.calc-rem(24);
  height: functions.calc-rem(24);

  position: absolute;
  top: functions.calc-rem(12);

  left: functions.calc-rem(12);
  z-index: 0;

  color: var(--color-grey-600);

  transition: color ease-in-out 300ms;
}

.inputControl {
  box-sizing: border-box;
  width: 100%;
  height: 100%;

  padding: functions.calc-rem(3);
  margin-bottom: 12px;

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  border: functions.calc-rem(1) solid #393838;
  border-radius: functions.calc-rem(8);

  @include media.desktop {
    width: 24%;

    padding: functions.calc-rem(8) functions.calc-rem(12);

    position: absolute;
    top: 0;
    right: 0;

    border: 0;
  }
}

.inputControlItem {
  @extend %button-reset;
  @include title-4;
  width: functions.calc-rem(140);
  height: functions.calc-rem(32);

  padding: functions.calc-rem(6) functions.calc-rem(12);

  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;

  color: var(--color-grey-300);
  background: transparent;

  border-radius: functions.calc-rem(4);

  text-align: center;
  text-decoration: none;

  transition: color ease-in-out 300ms, background ease-in-out 300ms;

  &:hover {
    color: var(--white);
    background: var(--color-grey-700);
  }

  &:nth-child(2) {
    margin-left: functions.calc-rem(8);
  }

  @include media.desktop {
    width: functions.calc-rem(75);
  }
}

.active {
  color: var(--white);
  background: var(--color-grey-700);
}

.networkSwitcher {
  width: auto;

  position: absolute;
  top: 50%;
  right: functions.calc-rem(12);

  transform: translate(0, -50%);
}

.closeButton {
  @extend %button-reset;

  position: absolute;
  top: 50%;
  right: functions.calc-rem(190);

  transform: translate(0, -50%);
}

.closeIcon {
  color: var(--color-grey-700);

  transition: color ease-in-out 300ms;
  &:hover {
    color: var(--color-grey-300);
  }
}
