@use '../../styles/mixins';
@use '../../styles/typography';
@use '../../styles/functions';

.title {
  @include typography.title-1;
  margin: 0 0 functions.calc-rem(16);
}

.page {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
}
