@use 'src/styles/media';
@use 'src/styles/typography';
@use 'src/styles/functions';

.page {
  display: flex;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;

  @include media.desktop {
    flex-direction: row;
  }
}

.title {
  @include typography.title-1;
  margin: 0 0 functions.calc-rem(16);
}
