@use 'src/styles/typography';
@use 'src/styles/functions';
@use 'src/styles/media';

@import 'src/styles/helpers';

.breadcrumbs {
  padding: 0 functions.calc-rem(12);

  display: flex;
  align-items: center;

  @include media.desktop {
    height: functions.calc-rem(40);
  }
}

.contractNameWrapper {
  display: flex;
  flex-direction: column;

  @include media.desktop {
    flex-direction: row;
  }
}

.contractName {
  @include typography.title-3;

  margin: 0 functions.calc-rem(12) 0 0;

  color: var(--white);

  @include media.desktop {
    @include typography.heading-2;
  }
}

.info {
  @include typography.caption-1;

  color: var(--color-grey-200);

  background: none;

  border-radius: functions.calc-rem(8);

  white-space: nowrap;

  @include media.desktop {
    padding: functions.calc-rem(7) functions.calc-rem(7) functions.calc-rem(8)
      functions.calc-rem(12);

    background: rgba(255, 255, 255, 0.03);

    transform: translateY(functions.calc-rem(3));
  }
}

.backButton {
  @extend %button-reset;
  @include typography.heading-2;

  overflow: hidden;

  position: relative;

  display: inline-block;

  color: var(--color-yellow-600);

  &:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &::after {
    width: 100%;
    // fix for the chrome browser
    height: functions.calc-rem(1.2);

    position: absolute;
    bottom: 0;
    left: 0;

    background: currentColor;

    transform: scaleX(0);
    transform-origin: right;

    transition: transform 0.7s cubic-bezier(0.19, 1, 0.22, 1) 0.2s;
    transition-delay: 0s;
    content: '';
  }

  @include media.mobile-only {
    @include typography.title-3;

    margin-right: functions.calc-rem(8);

    &::after {
      content: none;
    }
  }
}

.separator {
  @include typography.heading-1;

  margin: 0 functions.calc-rem(12);

  color: var(--color-grey-400);
  @include media.mobile-only {
    display: none;
  }
  @include media.desktop {
    @include typography.heading-2;

    margin: 0 functions.calc-rem(8);
  }
}

.daoTitleWrapper {
  @extend %button-reset;

  display: flex;
  flex-direction: column;
  @include media.desktop {
    flex-direction: row;
  }
}

.dao {
  @include typography.title-2;
  color: var(--white);

  @include media.desktop {
    @include typography.heading-2;
  }
}

.daoContract {
  @include typography.title-4;
  color: var(--color-grey-400);

  @include media.desktop {
    @include typography.heading-2;
  }
}

.tooltipBackButton,
.tooltipCopy,
.tooltipCopySuccess {
  padding: functions.calc-rem(8) functions.calc-rem(12) !important;

  margin-top: functions.calc-rem(14) !important;

  color: var(--white) !important;
  background: var(--color-grey-800) !important;

  border-radius: functions.calc-rem(4) !important;

  font-weight: 400 !important;
  font-size: functions.calc-rem(12) !important;
  font-style: normal !important;
  line-height: functions.calc-rem(20) !important;
}

.tooltipBackButton,
.tooltipCopy {
  &::after {
    border-bottom-color: var(--color-grey-800) !important;
  }
}

.tooltipBackButton {
  margin-left: functions.calc-rem(50) !important;
  &::after {
    left: functions.calc-rem(20) !important;
  }
}

.tooltipCopySuccess {
  background: var(--color-success-shade) !important;
  &::after {
    border-bottom-color: var(--color-success-shade) !important;
  }
}
