@use 'src/styles/functions';
@import 'src/styles/typography';
@import 'src/styles/helpers';

.widgetTile {
  @extend %button-reset;

  width: functions.calc-rem(240);
  height: 100%;

  padding: functions.calc-rem(16) functions.calc-rem(20);

  flex-direction: column;

  background-color: var(--color-grey-900);

  border: functions.calc-rem(2) solid var(--color-grey-700);
  border-radius: functions.calc-rem(8);

  text-align: left;

  transition: border-color 350ms;

  &:hover {
    border: functions.calc-rem(2) solid var(--color-chart-yellow);
  }
}

.active {
  border: functions.calc-rem(2) solid var(--color-blue-500);
}

.disabled {
  pointer-events: none;

  opacity: 0.3;
}

.withoutHover {
  pointer-events: none;
}
