@use 'src/styles/functions';
@use 'src/styles/media';
@import 'src/styles/typography';

.amount {
  @include title-4;

  padding: 0 functions.calc-rem(24) 0 0;

  @include media.desktop {
    @include title-3;
  }
}

.label {
  color: var(--white);
}

.percentages {
  @include title-4;
  height: functions.calc-rem(24);

  display: flex;
  align-items: center;

  color: var(--color-success-tint);
}

.negativeGrowth {
  color: var(--color-error-pure);

  .icon {
    transform: rotate(180deg);
  }
}

.zeroGrowth {
  color: var(--color-grey-500);

  .icon {
    display: none;
  }
}
