@use 'src/styles/functions';
@import 'src/styles/typography';

.amount {
  @include title-3;
  
  padding: 0 functions.calc-rem(24) 0 0;
}

.label {
  color: var(--white);
}

.percentages {
  @include title-4;
  height: functions.calc-rem(24);

  display: flex;
  align-items: center;

  color: var(--color-success-tint);
}

.negativeGrowth {
  color: var(--color-error-pure);

  .icon {
    transform: rotate(180deg);
  }
}

.zeroGrowth {
  color: var(--color-grey-500);
  
  .icon {
    display: none;
  }
}
