@use '../../../styles/functions';
@import '../../../styles/typography';
@import '../../../styles/helpers';

.legend {
  margin-left: functions.calc-rem(20);

  display: flex;

  justify-content: space-between;
}

.legendList {
  padding: 0;
  margin: 0;

  display: flex;

  text-align: left;

  list-style: none;
}

.legendListBar {
  padding: 0;
  margin-right: functions.calc-rem(24);

  display: flex;
  align-items: center;

  background: unset;

  border: unset;

  transition: filter 0.2s ease-out;

  cursor: pointer;
}

.legendListSvg {
  margin-right: functions.calc-rem(6);
}

.legendListValue {
  @include title-3;
}

.disabled {
  filter: opacity(0.3);

  &:hover {
    filter: opacity(0.5);
  }
}
