@use '../../styles/functions';
@import '../../styles/typography';
@import '../../styles/helpers';

.navigationList {
  --background-color: transparent;
  --line-color: transparent;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  display: flex;
  flex-direction: column;
}

.title {
  @include title-4();
  padding: 0 functions.calc-rem(12);
  margin: 0 0 functions.calc-rem(8);

  color: var(--color-grey-300);
}

.list {
  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;

  list-style: none;
}

.item {
  border-radius: functions.calc-rem(4);
  &:hover {
    --line-color: var(--color-yellow-600);
  }
}

.active {
  --line-color: var(--color-blue-500);
  --background-color: var(--color-grey-900);
}

.button {
  @extend %button-reset;
  @include title-3;
  width: functions.calc-rem(187);
  height: functions.calc-rem(36);

  padding: 0 functions.calc-rem(16);

  position: relative;

  display: flex;
  align-items: center;

  color: var(--white);

  background-color: var(--background-color);

  &::after {
    width: functions.calc-rem(4);
    height: 100%;

    position: absolute;
    top: 0;
    left: 0;

    background-color: var(--line-color);

    border-top-left-radius: functions.calc-rem(4);
    border-bottom-left-radius: functions.calc-rem(4);
    content: '';

    transition: background-color ease-in-out 300ms;
  }
}
